{% extends "base.html" %}

{% block extra_js %}
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}

{% block content %}
    <!-- Шапка -->
    <h1>{{ title }}</h1>
    {% load widget_tweaks %}
    <form method='GET' action='' class='row'>
        <div class='col-sm-10 '>
            <div class='input-group mb-3'>
                <input class='form-control' type='text' name='q' placeholder='Поиск читателя'
                       value='{{ request.GET.q }}'/>
                <span class='input-group-append'>
                    <button class='btn btn-outline-secondary' type='submit'>Поиск <i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
    </form>
    <!-- Таблица вывода организаций -->
    <div class="row">
        <div class="modal-body">
            <table class="table">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Контрагент</th>
                    <th>Юредический адрес</th>
                    <th>Фактический адрес</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in object_list %}
                    <tr>
                        <td>{{ obj.id }}</td>
                        <td><a href="" class="contractsRead" data-toggle="modal">{{ obj.name }}</a></td>
                        <td>{{ obj.legalAddress }}</td>
                        <td><span class="price">{{ obj.actualAddress }}</span></td>
                        <td>
                            <button type="button" class="orgRead btn btn-sm btn-primary" data-id="{% url 'contracts:orgRead' obj.pk %}" title="Инормация об организации"><span class="fa fa-address-card-o"></span></button>
                            <button type="button" class="orgUpdate btn btn-sm btn-success" data-id="{% url 'contracts:orgUpdate' obj.pk %}" title="Редактировать читателя"><span class="fa fa-pencil"></span></button>
                            <button type="button" class="orgDelete btn btn-sm btn-danger" data-id="{% url 'contracts:orgDelete' obj.pk %}" title="Удалить читателя"><span class="fa fa-trash"></span></button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="btn-group justify-content-center" role="group" aria-label="Basic example">
        <button type="button" class="orgCreate btn btn-secondary"><span class="fa fa-plus mr-2"></span>Добавить организацию</button>
        <button type="button" class="btn btn-secondary">-</button>
        <button type="button" class="btn btn-secondary">-</button>
    </div>
    {% block extrascripts %}
        <script type="text/javascript">
            $(function () {
                // Add reader button
                $(".orgCreate").modalForm({formURL: "{% url 'contracts:orgCreate' %}"});
                // Update reader buttons
                $(".orgUpdate").each(function () {
                    $(this).modalForm({formURL: $(this).data('id')});
                });
                // Read reader buttons
                $(".orgRead").each(function () {
                    $(this).modalForm({formURL: $(this).data('id')});
                });
                // Delete reader buttons
                $(".orgDelete").each(function () {
                    $(this).modalForm({formURL: $(this).data('id')});
                });
            });
        </script>
    {% endblock extrascripts %}
    <!-- Пагинация -->
    <div class="pagination justify-content-center">
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                {% if object_list.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" tabindex="-1">&laquo; Назад</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">&laquo; Назад</a>
                    </li>
                {% endif %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Страница {{ object_list.number }} из {{ object_list.paginator.num_pages }}<span class="sr-only">(current)</span></a>
                </li>
                {% if object_list.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Вперёд &raquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Вперёд &raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

{% endblock content %}