{% load widget_tweaks %}

<div class="modal-header">
    <h3 class="modal-title">[{{ readers.Reader_ID }}]</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <div class="modal-body">

        <!-- Example
        <div class="">
            Заголовок: {{ book.title }}
        </div>
        <div class="">
            Автор: {{ book.author }}
        </div>
        <div class="">
            Цена: {{ book.price }} €
        </div> -->

    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
</div>