{% load staticfiles %}
<!--DOCTYPE html -->
<html>
    <head>
        <meta charset=utf-8>
        <title>{% block head_title %}ACS{% endblock head_title %}</title>
        <!-- Latest compiled and minified CSS -->
        {% include "_css.html" %}
        {% block head_extra %}{% endblock head_extra %}
    </head>
    <body>
    {#{% include "messages_display.html" %}#}
        {% include "_header.html" %}
    <!-- Контент -->
    <div class="content">
        <div class='col-sm'>
            {% block content %}{% endblock content %}
       </div>
    </div>
    <!-- Футер -->
        {% include "_footer.html" %}
        {% include "_modal.html" %}
        {% include "_JavaScript.html" %}
        {% block extrascripts %}{% endblock extrascripts %}
    </body>
</html>